<div>
  <div>
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :content %>
    <%= f.text_field :content, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :status %>
    <%= f.select(:status, Post.statuses.keys.map { |key| [key.humanize, key] }, { include_blank: 'Please Select Status' }, { class: 'form-control mt-3' }) %>
  </div>
</div>
